
.loginPage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
 
  background-image: url('../assets/images/restaurant.jpg');
  background-position: center;
  background-attachment: fixed; 
}


.card {
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 40px;
  border-radius: 15px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.title {
  color: #8b0000; 
  margin-bottom: 20px;
  font-size: 1.8em;
  font-weight: bold;
}

.subtitle {
  color: #333;
  margin-bottom: 15px;
  font-size: 1em;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  text-align: left;
  font-weight: 500;
  color: #555;
  margin-bottom: -10px; 
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
  color: #333;
}

.textarea {
  resize: vertical;
}

.button {
  background-color: #8b0000; 
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #a52a2a; 
}

.switchText {
  margin-top: 20px;
  font-size: 0.9em;
  color: #555;
}

.switchLink {
  color: #8b0000;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
  transition: color 0.3s ease;
}

.switchLink:hover {
  color: #a52a2a;
  text-decoration: underline;
}
