.delivery {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
  font-family: "Georgia", serif;
  color: #2e2b28;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 15px;
  color:rgba(245, 237, 232, 0.95);;
}

.subtitle {
  text-align: center;
  font-size: 18px;
  color:  rgba(245, 237, 232, 0.95);;
  margin-bottom: 60px;
}

.infoBox {
  background-color: rgba(245, 237, 232, 0.95);
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 50px;
  line-height: 1.7;
  font-size: 17px;
}

.infoBox p {
  margin-bottom: 15px;
}

.orderLink {
  display: inline-block;
  margin: 15px 0 25px;
  color: #4a2b2a;
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.orderLink:hover {
  color: #8b5e3c;
}

.highlight {
  color: #8b5e3c;
  font-weight: 600;
}

/* Адаптив */
@media (max-width: 768px) {
  .delivery {
    padding: 60px 0;
  }

  .infoBox {
    padding: 30px 25px;
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 16px;
  }
}
